.action-button, .primary-button, .secondary-button
{
    max-width: content;
    border-radius: 8px;
    /* height: 36px; */
    /* padding: 0 12px; */
    /* font-size: 14px; */
}

.action-button
{
    background-color: rgba(255, 109, 51, 1);
    border: 0px solid rgba(255, 109, 51, 1);
    color: #FBFDFF;
}

.action-button:hover
{
    background-color: #F4A261;

}

.primary-button
{
    background-color: rgba(255, 232, 223, 1);
    color: rgba(255, 72, 0, 1);
    border: 1px solid rgba(255, 72, 0, 1);
}

.secondary-button
{
    border: 0.5px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.45);
}