#sub-photo-container {
    position: relative;
    height: 100%;
    overflow: scroll;
    /* Hide scroll bar: */
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Hide scroll bar: */
#sub-photo-container::-webkit-scrollbar {
    display: none;
}

/* Hide scroll bar: */
#sub-photo-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}